*{
    margin: 0em;
    padding: 0em;
    font-size: 100%;
    border-style: none;
    list-style-type: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 13px;
    color: #222;
    overflow-x: hidden;
}

.top_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top_nav li{
    float: left;
}

.bottom_nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom_nav li{
    float: left;
}

#right_nav .bottom_nav li{
    float: right;
}

li a{
    text-align: center;
    text-decoration: none;
    
}

#body{
    display: block;
}